[Desktop Entry]
Encoding=UTF-8
Name=Link to Video Demonstration of the Checker Framework - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=eQAs-eJ5a8c
Icon=text-html
Name[en_US]=Youtube Demo
